<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8 mt-5 mb-5">
			<h2><%= Date.today.year %>年<%= Date.today.month %>月</h2>
			<table class="table">
				<tr>
					<th>日にち</th>
					<th>出勤</th>
					<th>退勤</th>
					<th>勤務時間</th>
				</tr>
			<% @grouped.each do |date,time| %>
				 <tr>
				  	<td><%= date.strftime('%-m月%-d日') %></td>
					<td><%=time == "00:00" ? time : time.in_time.strftime('%H:%M')%></td>
					<td><%=time == "00:00" ? time : time.class%></td>
					<td><%="hoge" %></td>
				</tr>
			<% end %>
			<%= link_to "打刻画面へ", timecard_path(current_user)%>
			</table>
		</div>
		<div class="col-2"></div>
	</div>
</div>