<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8 mt-5 mb-5">
			<h2><%= Date.today.year %>年<%= Date.today.month %>月</h2>
			<table class="table">
				<tr>
					<th>日にち</th>
					<th>出勤</th>
					<th>退勤</th>
					<th>勤務時間</th>
				</tr>
			<% @monthly.each do |date| %>
				 <tr>
				  	<td><%= date.strftime('%-m月%-d日') %></td>
	 				<% @timecards.each do |time|%>
	 					<%if (date.day == time.day && date.month == time.month && date.year == time.year) %>
							<td><%=time.in_time.strftime('%H:%M')%></td>
							<td><%=time.out_time.strftime('%H:%M') if time.out_time %></td>
							<td><%=Time.at(time.out_time - time.in_time).strftime('%-H時間%-M分') if time.out_time %></td>
						<% end %>
					<%end%>
				</tr>
			<% end %>
			<%= link_to "打刻画面へ", timecard_path(current_user)%>
			</table>
		</div>
		<div class="col-2"></div>
	</div>
</div>