<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8 mt-5 mb-5">
			<h2><%= Date.today.year %>年<%= Date.today.month %>月</h2>
			<table class="table">
				<tr>
					<th>日にち</th>
					<th>出勤</th>
					<th>退勤</th>
					<th>勤務時間</th>
				</tr>
			<%work_amount = 0%>
			<% @unites.each do |date,time| %>
				 <tr>
				  	<td><%= date.strftime('%-m月%-d日') %></td>
				  	<td>
						<% if time == "00:00" %>
							<%= time %>
						<% elsif time.in_time == nil %>
							<%= "00:00"%>
						<% elsif time.in_time != nil%>
							<%= time.in_time.strftime('%H:%M')%>
						<%end%>
				  	</td>
				  	<td>
						<% if time == "00:00" %>
							<%= time %>
						<% elsif time.out_time == nil %>
							<%= "00:00"%>
						<% elsif time.out_time != nil%>
							<%= time.out_time.strftime('%H:%M')%>
						<%end%>
				  	</td>
				  	<td>
						<% if time == "00:00" %>
							<%= time %>
						<% elsif time.in_time == nil || time.out_time == nil%>
							<%= "要連絡" %>
						<% elsif time.in_time != nil || time.out_time != nil%>
							<%= Time.at(time.out_time - time.in_time).strftime('%-H時間%-M分')%>
							<% work_amount += time.out_time - time.in_time %>
						<%end%>
				  	</td>
				</tr>
			<% end %>
			<%= link_to "打刻画面へ", timecard_path(current_user)%>
			<h2><%= "今月の労働時間は" + Time.at(work_amount).strftime('%-H時間%-M分') + "です"%></h2>
			</table>
		</div>
		<div class="col-2"></div>
	</div>
</div>