<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4 mt-5 mb-5">
			<div class="card text-center bg-light" style="width: 100%;">
				<div class="block_50"></div>
				<h6>	<%= Date.today.month%>月
					<%= Date.today.day%>日
					<%= Time.now.strftime("(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})")%>
				</h6>
				<div class="times">
					<p class="clock_time display-1 mx-10"></p>
				</div>
				<% if  !@timecard %>
					<%=form_for (@newcard) do |f|%>
						<%= f.hidden_field :year,:value => Date.today.year%>
						<%= f.hidden_field :month,:value => Date.today.month%>
						<%= f.hidden_field :day,:value => Date.today.day%>
						<%= f.hidden_field :user_id,:value => current_user.id %>

						<% time = Time.zone.now %>
						<%= f.hidden_field :in_time, :value => time.strftime('%H:%M') %>

						<%= f.submit "出勤",class:"btn btn-primary"%>
						<div class="block_50"></div>
					<% end %>
				<%elsif @timecard.in_time && !@timecard.out_time %>
					<%=form_for (@timecard) do |f|%>
						<% time = Time.zone.now %>
						<%= f.hidden_field :out_time, :value => time.strftime('%H:%M') %>
						<%= f.submit "退勤",class:"btn btn-primary"%>
					<div class="block_50"></div>
					<% end %>
				<%else%>
					<h3>今日もお疲れさまでした！</h3>
					<div class="block_50"></div>
				<% end %>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>